server:
  port: 8080

spring:
  datasource:
    url: jdbc:h2:mem:productsdb;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false

hnb:
  api-url: https://api.hnb.hr/tecajn-eur/v3

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html

management:
  endpoints:
    web:
      exposure:
        include: health,info